body {
    background-color: #303030;
}

h3,label {
    color: white;
}

input {
    background-color: #282828;
    color: white;
    border-radius: 8px;
}

input:disabled {
    background-color: #606060;
}