{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'js/dynamic-formset.js' %}"></script>
<script>
    $(function () {
        $('.emotion-add-row').click(function () {
            return addForm(this, '{{ efs.prefix }}');
        });
        $('.emotion-delete-row').click(function () {
            return deleteForm(this, '{{ efs.prefix }}');
        });
        $('.thought-add-row').click(function () {
            return addForm(this, '{{ tfs.prefix }}');
        });
        $('.thought-delete-row').click(function () {
            return deleteForm(this, '{{ tfs.prefix }}');
        });
    })
</script>
{% if page_title != "Read" %}
<script>
    function setOtherTextState() {
        $('#emotion_forms_table > tbody > tr').each(function (index, tr) {
            var select_emotion = $(tr).find('select[id$=-emotion]')
            if (select_emotion.val() != "other") {
                $(tr).find('input[id$=-other_text').prop("disabled", true);
            } else {
                $(tr).find('input[id$=-other_text').prop("disabled", false);
            }
            select_emotion.change(setOtherTextState);
        });
    }
    $('document').ready(function () {
        setOtherTextState();
    });
</script>
{% endif %}
<form method="post">
    {% csrf_token %}
    <h3>Upsetting event: </h3>
    {{ jf.upsetting_event }}
    <h3>Emotions</h3>
    <table id="emotion_forms_table" class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Emotion</th>
                <th scope="col">Other Text</th>
                <th scope="col">Now %</th>
                <th scope="col">Goal %</th>
                <th scope="col">After %</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for form in efs.forms %}
            <tr id="{{ form.prefix }}-row" class="{{ efs.prefix }}-dynamic-form">
                <td>{{ form.emotion }}</td>
                <td>{{ form.other_text }}</td>
                <td>{{ form.now_percent }}</td>
                <td>{{ form.goal_percent }}</td>
                <td>{{ form.after_percent }}</td>
                {% if page_title != "Read" %}
                <td{% if forloop.first %} class="hidden" {% endif %}>
                    <a id="remove-{{ form.prefix }}-row" class="emotion-delete-row">Delete</a>
                    </td>
                    {% endif %}
            </tr>
            {% endfor %}
            {% if page_title != "Read" %}
            <tr>
                <td colspan="6"><a class="emotion-add-row">Add</a></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {{ efs.management_form }}
    <h3>Thoughts</h3>
    <table id="thought_forms_table" class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Negative Thoughts</th>
                <th scope="col">Now %</th>
                <th scope="col">After %</th>
                <th scope="col">Distortions</th>
                <th scope="col">Positive Thoughts</th>
                <th scope="col">Belief %</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for form in tfs.forms %}
            <tr id="{{ form.prefix }}-row" class="{{ tfs.prefix }}-dynamic-form">
                <td>{{ form.negative_thoughts }}</td>
                <td>{{ form.now_percent }}</td>
                <td>{{ form.after_percent }}</td>
                <td>{{ form.distortions }}</td>
                <td>{{ form.positive_thoughts }}</td>
                <td>{{ form.belief_percent }}</td>
                {% if page_title != "Read" %}
                <td{% if forloop.first %} class="hidden" {% endif %}>
                    <a id="remove-{{ form.prefix }}-row" class="thought-delete-row">Delete</a>
                    </td>
                    {% endif %}
            </tr>
            {% endfor %}
            {% if page_title != "Read" %}
            <tr>
                <td colspan="7"><a class="thought-add-row">Add</a></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {{ tfs.management_form }}
    {% if page_title != "Read" %}
    <input class="btn btn-primary" type="submit" value="Submit">
    {% else %}
    <a class="btn btn-primary" href="/{{ journal_id }}/edit" role="button">Edit</a>
    {% endif %}
</form>
{% endblock %}